

.card-body {
    outline: 5px;
    border-radius: 5px;
}


.section {
    min-height: 40px;
}

.main-heading {
    color: rgb(183, 46, 137);
    font-size: 50px;
}

.underline {
    width: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
}

.underline h5 {
    margin-top: 5px;
}